Source: nemo-admin
Section: gnome
Priority: optional
Maintainer: Carlos Maddela <e7appew@gmail.com>
Build-Depends: cmake (>= 2.6), debhelper-compat (= 12), gettext
Standards-Version: 4.4.1
Homepage: https://github.com/hamonikr/nemo-admin
Vcs-Git: https://github.com/hamonikr/nemo-admin.git
Rules-Requires-Root: no

Package: nemo-admin
Architecture: all
Depends: gir1.2-gtk-3.0,
         gvfs-backends (>= 1.30),
         nemo,
         ${misc:Depends}
Replaces: 
Recommends: xed
Enhances: nemo
Description: Extension for Nemo to do administrative operations
 Nemo Admin is a simple Python extension for the Nemo file manager
 that adds some administrative actions to the right-click menu:
 .
   * Open as Administrator: opens a folder in a new Nemo window
     running with administrator (root) privileges.
   * Edit as Administrator: opens a file in a Xed window running
     with administrator (root) privileges.
